.main-container {
    background: url('../images/aboutBg.jpg');
   background-size: cover;
   /* height: auto; */
}

.portfolio-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    margin: 2em 2em;
    flex: 1;
}

.project-container {
    background-color: #c1c8e4;
    width: 39%;
    display: flex;
    flex-direction: column;
    margin: 2em;
    padding: 2em;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.056),
    0 6.7px 5.3px rgba(0, 0, 0, 0.081),
    0 12.5px 10px rgba(0, 0, 0, 0.1),
    0 22.3px 17.9px rgba(0, 0, 0, 0.119),
    0 41.8px 33.4px rgba(0, 0, 0, 0.144),
    0 100px 80px rgba(0, 0, 0, 0.2);
}

.p-title {
    margin-top: 1em;
}

img {
    height: 300px;
    width: 300px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    font-style: italic;
    font-weight: 600;
    font-size: 34px;
    letter-spacing: .6em;
    text-transform: uppercase;
    color: lightgoldenrodyellow;
    margin: .5em;
}

h3 {
     color: #8860d1; 
     font-size: 24px; 
     font-family: 'Signika', sans-serif; 
     padding-bottom: 10px;
}

h4 {
    color: #8860d1;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    color: #666;
}

li {
    margin: 1em;
}

p {
    font-family: 'Inder', sans-serif; 
    margin-bottom: 15px;
    color: #666;
    line-height: 2rem;
}

@media (max-width: 950px) {
    .project-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 3em;
    }
}

@media (max-width: 450px) {
    img {
     height: 200px;
     width: 200px   
    }
}
